<div class="jumbotron">
  <h1 class="display-4">Search the United States Congress</h1>

  <form id="houseSearch">
    <hr class="my-4">

    <div class="form-group">
      <label for="byBranch">Search by branch (must choose one):</label>
      <select class="form-control" id="byBranch">
        <option style="display:none;"></option>
        <option>House of Representatives</option>
        <option>Senate</option>
      </select>
    </div>

    <div class="form-group">
      <label for="byParty">Search by party:</label>
      <select class="form-control" id="byParty">
        <option style="display:none;"></option>
        <option>Democrats</option>
        <option>Republicans</option>
        <option>Independents</option>
      </select>
    </div>

    <div class="form-group">
      <label for="byState">Search by state:</label>
      <select class="form-control" id="byState">
        <option style="display:none;"></option>
        <option>AL</option>
        <option>AK</option>
        <option>AZ</option>
        <option>AR</option>
        <option>CA</option>
        <option>CO</option>
        <option>CT</option>
        <option>DE</option>
        <option>FL</option>
        <option>GA</option>
        <option>HI</option>
        <option>ID</option>
        <option>IL</option>
        <option>IN</option>
        <option>IA</option>
        <option>KS</option>
        <option>KY</option>
        <option>LA</option>
        <option>ME</option>
        <option>MD</option>
        <option>MA</option>
        <optino>MI</optino>
        <option>MN</option>
        <option>MS</option>
        <option>MO</option>
        <option>MT</option>
        <option>NE</option>
        <option>NV</option>
        <option>NH</option>
        <option>NJ</option>
        <option>NM</option>
        <option>NY</option>
        <option>NC</option>
        <option>ND</option>
        <option>OH</option>
        <option>OK</option>
        <option>OR</option>
        <option>PA</option>
        <option>RI</option>
        <option>SC</option>
        <option>SD</option>
        <option>TN</option>
        <option>TX</option>
        <option>UT</option>
        <option>VT</option>
        <option>VA</option>
        <option>WA</option>
        <option>WV</option>
        <option>WI</option>
        <option>WY</option>
      </select>
    </div>

    <div class="form-group">
      <label for="byGender">Search by gender:</label>
      <select class="form-control" id="byGender">
        <option style="display:none;"></option>
        <option>Male</option>
        <option>Female</option>
      </select>

    </div>
    <div class="form-group">
      <label for="byname">Search by name:</label>
      <input type="text" class="form-control" id="byname" placeholder="FirstName LastName">
    </div>
    <button class="btn" type="submit" id="createQuery">Search</button>
    <hr>
  </form>

  <div id="table">
  </div>
</div>   
{{!-- modal for when they forget to pick house or senate --}}
<div class="modal" tabindex="-1" role="dialog" id="searcherror">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You must select a branch!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The only required search field is the branch</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>