<div class="jumbotron">
  {{!-- name here, (party abrv in parens) --}}
  <h1 class="display-4">{{{}}}, ({{{}}})</h1>
  {{!-- state abrv, w/ district if representative --}}
  <h4 class="display-4">{{{}}}</h4>
  {{!-- gender --}}
  <h4 class="display-4">{{{}}}</h4>  

  <canvas id="myChart" width="400" height="400">

</div>   

    {{!-- this would bring up the complete table --}}
    {{!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="CompleteList">I want to see them all!</button> --}}

 {{!-- the idea being that they can insert as many specifications into one table, so all democratic female representatives from ohio, or simply all female reps depending on what they select in the inputs --}}
    {{!-- open to adding search buttons on each line --}}