
<div class="jumbotron">
  <h1 class="display-4">Search the House of Representatives</h1>
  {{!-- <p class="lead">Search by</p> --}}
  <form id="houseSearch">
  <hr class="my-4">
 <div class="form-group">
    <label for="byParty">Search by party:</label>
   <select class="form-control" id="byParty">
       <option style="display:none;"></option>
      <option>Democrats</option>
      <option>Republicans</option>      
      <option>Independents</option>
      </select>
  </div>
   <div class="form-group">
    <label for="byState">Search by state:</label>
   <select class="form-control" id="byState">
       <option style="display:none;"></option>
      <option>AL</option>
<option>AK</option><option>AZ</option><option>AR</option><option>CA</option> 
<option>CO</option><option>CT</option> <option>DE</option><option>FL</option>
<option>GA</option><option>HI</option><option>ID</option><option>IL</option>
<option>IN</option><option>IA</option><option>KS</option><option>KY</option>
<option>LA</option><option>ME</option><option>MD</option><option>MA</option>
<optino>MI</optino><option>MN</option><option>MS</option><option>MO</option>
<option>MT</option><option>NE</option><option>NV</option><option>NH</option>
<option>NJ</option><option>NM</option><option>NY</option><option>NC</option>
<option>ND</option><option>OH</option><option>OK</option><option>OR</option>
<option>PA</option><option>RI</option><option>SC</option><option>SD</option>
<option>TN</option><option>TX</option><option>UT</option><option>VT</option>
<option>VA</option><option>WA</option><option>WV</option><option>WI</option><option>WY</option>
      </select>
  </div>
     <div class="form-group">
    <label for="byGender">Search by gender:</label>
   <select class="form-control" id="byGender">
       <option style="display:none;"></option>
      <option>Male</option>
      <option>Female</option>      
      </select>
     
  </div>
 <div class="form-group">
    <label for="byname">Search by name:</label>
    <input type="text" class="form-control" id="byname" placeholder="FirstName LastName">
  </div>
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="createQuery">Search</button>
{{!-- the idea being that they can insert as many specifications into one table, so all democratic female representatives from ohio, or simply all female reps depending on what they select in the inputs --}}
{{!-- open to adding search buttons on each line --}}
<hr>
{{!-- this would bring p the complete table --}}
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="CompleteList">I want to see them all!</button>
  </form>

{{!-- append table or append cards........ --}}
<div id="table">

</div>

</div>