
<div class="jumbotron">

  <h1 class="display-4" data-id={{id}} data-location={{location}} id="info">Welcome {{name}}</h1>
  <p class="lead">Your Representatives From {{location}}!</p>


  <hr class="my-4">
  <h1>Click on a representative to find out more about their campaign donors</h1>
  <div class="senators" >
      <h3>Senators</h3>
      <table id="senators">

      </table>
  </div>
  <div class="house">
        <h3>House of Representatives</h3>
        <table id="reps">

        </table>
</div>
</div>



<script src="/assets/js/profile.js"></script>

