<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../public/assets/img/politicalicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Saved Searches</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="display-4">Welcome to your representatives</h1>
  <p class="lead">Loook at them</p>
  <hr class="my-4">

  {{!-- ability to click on for more information --}}
  <div class="senators" >
      <h3>Senators</h3>
      <ul></ul>
    </div>
    <div class="house">
        <h3>House of Representatives</h3>
        <ul></ul>
    </div>
</div>

