
<div class="jumbotron">
  <h1 class="display-4">Welcome to your representatives</h1>
  <p class="lead">Loook at them</p>
  <hr class="my-4">
  {{!-- ability to click on for more information --}}
  <div class="senators" >
      <h3>Senators</h3>
      <ul>{{name}}</ul>
    </div>
    <div class="house">
        <h3>House of Representatives</h3>
        <ul></ul>
    </div>
</div>

